html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background: #DFF2EB;
  --foreground: #4A628A;
  --center: #B9E5E8;
  --dark: #7AB2D3;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: var(--foreground);
}

.container {
  background-color: var(--background);
  color: var(--foreground);
  padding: 20px 0;
}

.container h1 {
  text-align: center;
  margin: 0;
}

.nav {
  text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  display: inline;
  margin: 0 15px;
}

.nav ul li a {
  color: var(--foreground);
  text-decoration: none;
}

.hero {
  background-color: var(--center);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--foreground);
}

.hero h2 {
  font-size: 2.5em;
}

.hero p {
  font-size: 1.2em;
}

.btn {
  color: var(--foreground);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.destinations {
  padding: 50px 20px;
  text-align: center;
}

.destinationGrid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.destinationCard {
  background: var(--center);
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.destinationCardImage {
  width: 100%;
  border-radius: 5px;
}

.footer {
  background: var(--background);
  color: var(--foreground);
  text-align: center;
  padding: 20px 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .hero h2 {
    font-size: 40px;
  }

  .hero p {
    font-size: 25px;
  }

  .destinationGrid {
    flex-direction: column;
    align-items: center;
  }

  .destinationCard {
    width: 90%;
    /* Adjust width for smaller screens */
  }

  .nav ul li {
    display: block;
    /* Stack navigation items vertically */
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .hero h2 {
    font-size: 30px;
  }

  .hero p {
    font-size: 20px;
  }

  .btn {
    padding: 8px 16px;
    /* Adjust button padding */
  }

  .footer {
    padding: 15px 0;
    /* Adjust footer padding */
  }
}